html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  flex: 1 0 auto;
}

#result {
  color: black;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  width: 400px;
  height: 60px;
  border: 5px solid #835FB9;
  padding: 10px;
  border-radius: 9px;
  background-color: white;
}

#header {
  font-family: 'Raleway', sans-serif;
  background-color: #563d7c;
}

#foot {
  color: white;
  font-size: 18px;
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;  
}

#footer {
  bottom: 0px;
  background-color: #333;
  width: 100%;
  font-size: 1px;
  position: absolute;
}

.blue-text {
  color: white;
  margin-left: 20px;
}
.h2 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.smaller-image {
  margin-top: 10px;
  width: 400px;
}

.text-wrap {
  width: 26em;
  overflow-wrap: break-word;
  margin:10px;
  padding:10px;
 }

body {
  background-color: white;
  height: 100vh;
  margin: 0;
  padding: 0;  
  display: flex;
  flex-direction: column;
}
