#result {
  color: white;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  width: 250px;
  border: 5px solid #563d7c;
  padding: 2px;
  background-color: #563d7c;
}

#header {
  font-family: 'Raleway', sans-serif;
  background-color: #563d7c;
}

#foot {
  color: white;
  margin-top: 14.4px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;  
}

#footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width:100%;
  height: 60px;
  font-size: 1px;
}

.blue-text {
  color: white;
  margin-left: 20px;
}
.h2 {
  font-family: 'Raleway', sans-serif;
}
p {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.smaller-image {
  margin-top: 20px;
  width: 300px;
}

.text-wrap {
  width: 18em;
   overflow-wrap: break-word;
    margin:10px;
    padding:10px;
  }

body {
  background-color: white;
}
